<template>
  <nav class="nav has-shadow" id="navBar">
    <div class="container">
      <div class="nav-left">
        <router-link :to="{ path: '/home' }"
        class="nav-item">
        <img src="static/img/logo_icon.svg" alt="TSaude" class="headerLogo">
        </router-link>
      </div>
      <div class="nav-center">

      <!-- <a class="nav-item is-tab is-hidden-mobile is-active">Home</a> -->
      <router-link :to="{ path: '/home' }"
      class="nav-item is-tab is-hidden-mobile" exact>
        HOME
      </router-link>
      <router-link :to="{ path: '/como-funciona' }"
      class="nav-item is-tab is-hidden-mobile" exact>
        COMO FUNCIONA ?
      </router-link>
      <router-link :to="{ path: '/xxx' }"
      class="nav-item is-tab is-hidden-mobile" exact>
        ATENDIMENTO
      </router-link>
      <router-link :to="{ path: '/cobertura' }"
      class="nav-item is-tab is-hidden-mobile" exact>
        DICAS DE SAÚDE
      </router-link>
      <router-link :to="{ path: '/contato' }"
      class="nav-item is-tab is-hidden-mobile" exact>
        FALE CONOSCO
      </router-link>
    </div>

      <div class="nav-right integer is-hidden-touch">
        <span class="pipet"></span>
        <a href="http://179.124.128.24:8080/app_login/" target="_blank" class="class nav-item">
          <i class="material-icons">person</i>
        </a>
        <a href="#" class="class nav-item">
          <i class="material-icons">shopping_cart</i>
        </a>
      </div>
      <div id="navMenuTransparentExample" class="navbar-menu is-hidden-desktop"  v-bind:class="{ toggle: showMobileMenu }">
        <div class="navbar-start">
          <div class="navbar-item">
            <div class="navbar-dropdown is-boxed">
              <router-link :to="{ path: '/home' }"
              class="nav-item is-active" v-on:click.native="fechamenu">
                HOME
              </router-link>
              <router-link :to="{ path: '/como-funciona' }"
              class="nav-item is-active" v-on:click.native="fechamenu">
                COMO FUNCIONA ?
              </router-link>
              <router-link :to="{ path: '/contato' }"
              class="nav-item is-active" v-on:click.native="fechamenu">
                FALE CONOSCO
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-right is-hidden-desktop">
        <span @click="showMobileMenu = !showMobileMenu" class="class nav-item">
          <i class="material-icons" style="color: white; font-size: 26px">menu</i>
        </span>
      </div>

    </div>
  </nav>
</template>

<script>
export default {

  props: {

    rotas: {
      type: Array,
      required: true
    }
  },
  data() {

    return {
      showMobileMenu: false,
      link: [],

    }
  },
  created() {
  // this.$http.get(LINKS)
  // .then(response => {
  //   // console.log(response.data);
  //   this.link = response.data
  // })
  // .catch(e => {
  //   this.errors.push(e)
  // })
},
  methods: {
    fechamenu () {
      this.showMobileMenu = false
      console.log("Vai");
    }
  }
}

</script>

<style lang="sass" scoped>
  nav
    height: 92px
    background-color: transparent
    position: fixed
    width: 100%
    &.nav
      background: rgba(195, 195, 195, 0.25)
    .nav-toggle
      &.class
        cursor: pointer
        display: block
        height: 3.25rem
        position: relative
        width: 3.25rem
        margin-top: 19px
        &:hover
          span
            background-color: #000
        span
          margin-left: -9px
          background-color: #fff
          height: 2px
          width: 18px
    .headerLogo
      max-height: 65px
    a
      &.nav-item
        color: #fff
        font-size: 15px
        font-weight: 700
        white-space: nowrap
        &:hover
          border: none
          color: aliceblue
  .uls
    li
      margin: 8px 0px
      .router-link-active
        font-size: 16px !important
        color: #ffffff !important
        letter-spacing: -0.1px !important
        border-bottom: 2px white solid !important
  .router-link-active
    font-size: 16px !important
    color: #ffffff !important
    letter-spacing: -0.1px !important
    border-bottom: 2px white solid !important
  .none
    display: none
  .integer
    flex-basis: auto
    flex-grow: 0
  .pipet
    height: 45%
    border-left: 2px white solid
    margin: auto 16px
</style>
