<template lang="html" >
  <div class="backgrounded">

  <div class="container">
    <div class="columns midFooter">
      <div class="column is-5">
        <img src="static/img/logo_icon.svg" alt="TSaude" class="headerLogo">
        <br>
        <p>
          A tsaúde é uma plataforma social que proporciona atendimento médico, exames e medicamentos a preço baixo. O sistema integra clinicas, laboratórios, farmácias e disponibiliza a qualquer pessoa ter acesso aos mais diversos procedimentos médicos, exames e medicação com qualidade e a custos acessíveis, disponibilizando a população o ciclo completo de acesso à saúde
        </p>
      </div>
      <div class="column importeLink">
        <h5 class="title is-5 color-white">
          Links importantes
        </h5>
        <br>
        <div class="midGard">
          <a href="#"><p>Como funciona?</p></a>
          <a href="#"><p>Dicas de saúde</p></a>
          <a href="#"><p>Fale conosco</p></a>
        </div>
      </div>
      <div class="column">
        <h5 class="title is-5 color-white">
          Onde estamos
        </h5>
        <br>
        <div class="midGard">
          <p>R. Magalhães Filho, 1350 - Edifício Gedaí</p>
          <p>Teresina - PI, 64002 - 450</p>
          <p>suporte@tsaude.com.br</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="background-black">
    <div class="lest">
      <div class="">
        <p>Rua Senador Candido Ferraz, 1250 | 3º Andar Bairro: Jóquei Teresina - PI </p>
      </div>
      <div class="">
        <img src="http://128bits.cc/media/img/Assinatura.png" alt="">
      </div>
    </div>
  </footer>
</div>
</template>

<script>
export default {
}
</script>

<style lang="sass">

</style>
