<template lang="html">
  <div class="fully">
    <section class="hero is-fullheight is-bold">
      <div class="hero-body">

        <div class="columns insider">
          <div class="column is-hidden-tablet">
            <div class="tile">
              <figure class="image build">
                <img src="static/img/building.svg">
              </figure>
              <figure class="image gnuvem">
                <img src="static/img/nuvem1.svg">
              </figure>
              <figure class="image fnuvem">
                <img src="static/img/nuvem2.svg">
              </figure>
              <figure class="image midnuvem">
                <img src="static/img/nuvem3.svg">
              </figure>
            </div>
          </div>
          <div class="column is-7 leftContent">
              <h1 class="title color-white">
                EXAMES E CONSULTAS ACESSÍVEIS
              </h1>
              <h2 class="subtitle color-white">
                Nosso sistema integra clinicas, laboratórios, farmácias e disponilibiza a qualquer pessoa ter acesso aos mais diversos procedimentos médicos.
              </h2>
              <b-field>
                  <b-autocomplete
                      v-model="arrayExample.name"
                      size="is-medium"
                      :data="filteredDataArray"
                      placeholder="Pesquise por clínicas, consultas ou exames"
                      icon="search"
                      class="heroInput"
                      @select="option => arrayExample.selected = option">
                  </b-autocomplete>
              </b-field>
          </div>
          <div class="column is-hidden-touch">
            <div class="tile">
              <figure class="image build">
                <img src="static/img/building.svg">
              </figure>
              <figure class="image gnuvem">
                <img src="static/img/nuvem1.svg">
              </figure>
              <figure class="image fnuvem">
                <img src="static/img/nuvem2.svg">
              </figure>
              <figure class="image midnuvem">
                <img src="static/img/nuvem3.svg">
              </figure>
            </div>
          </div>
        </div>
        <span class="pulse">
          <i class="material-icons">arrow_downward</i>
        </span>

      </div>
    </section>
    <section class="hero howto">
      <h3 class="title is-3 has-text-centered how">COMO FUNCIONA ?</h3>
      <div class="columns is-desktop
      ">
        <div class="column justPad">
          <div class="circled">
            <i class="material-icons">person</i>
          </div>
          <h5 class="title is-5 has-text-centered">
            1. Cadastre-se na plataforma
          </h5>
          <p class="has-text-centered">
            Para usufrir dos nossos serviços
            é preciso primeiro cadastrar-se na
            plataforma. Mas não se preocupe
            você vai pagar apenas pela consulta
            ou exame!
          </p>
        </div>
        <div class="column justPad">
          <div class="circled">
            <i class="material-icons">search</i>
          </div>
          <h5 class="title is-5 has-text-centered">
            2. Procure por consulta ou exame
          </h5>
          <p class="has-text-centered">
            Após cadastrar-se o próximo passo é procurar a consulta ou exame que estiver precisando fazer e por último escolhe em qual clínica credenciada deseja realizar o procedimento.
          </p>
        </div>
        <div class="column justPad">
          <div class="circled">
            <i class="material-icons">payment</i>
          </div>
          <h5 class="title is-5 has-text-centered">
            3. Pague e receba a confirmação
          </h5>
          <p class="has-text-centered">
            Após a confirmação de pagamento você receberá um ticket que deverá ser apresentado à recepção da clínica ou laboratório escolhido.
          </p>
        </div>
      </div>
    </section>
    <section class="hero find">
      <div class="has-text-centered">
        <h4 class="title is-5 has-text-centered color-white">
          NÃO ENCONTROU UMA CONSULTA PARA VOCÊ ?
        </h4>
        <a href="#" class="button color-blue btns">
          ENTRAR EM CONTATO
        </a>
        <br>
      </div>
    </section>
    <section class="background-white better">
      <div class="has-text-centered">
        <h4 class="title is-5 has-text-centered">
          CONHEÇA MELHOR
        </h4>
      </div>
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
            <p class="">
              A tsaúde é uma plataforma social que proporciona atendimento médico, exames e medicamentos a preço baixo. O sistema integra clinicas, laboratórios, farmácias e disponibiliza a qualquer pessoa ter acesso aos mais diversos procedimentos médicos, exames e medicação com qualidade e a custos acessíveis, disponibilizando a população o ciclo completo de acesso à saúde
            </p>
          </div>
          <div class="column has-text-centered fubaca">
            <div class="columns is-mobile">
              <div class="column">
                <a href="#">
                <img src="https://http2.mlstatic.com/ui/navigation/2.0.8/mercadolibre/logo-pt__large.png" alt="">
              </a>
              </div>
              <div class="column">
                <a href="#">
                <img src="https://www.udemy.com/staticx/udemy/images/v5/logo-green.svg" alt="">
              </a>
              </div>
              <div class="column">
                <a href="#">
                <img src="https://www.alura.com.br/assets/img/alura-logo.1503010837.svg" alt="">
              </a>
              </div>
            </div>

            <div class="columns is-mobile">
                <div class="column">
                  <a href="#">
                  <img src="http://bulma.io/images/bulma-logo.png" alt="">
                </a>
                </div>
                <div class="column">
                  <a href="#">
                  <img src="https://buefy.github.io/static/img/buefy.027baee.png" alt="">
                </a>
                </div>
                <div class="column">
                  <a href="#">
                  <img src="http://www.adv6.com.br/wp-content/uploads/2016/02/adv6-logo.png" alt="">
                </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <my-footer></my-footer>
  </div>
</template>

<script>
import Footer from '../shared/Footer.vue';
export default {
  components:{
    'my-footer': Footer
  },
    data() {
        return {
            arrayExample: {
                data: [
                    'Angular',
                    'Angular 2',
                    'Aurelia',
                    'Backbone',
                    'Ember',
                    'jQuery',
                    'Meteor',
                    'Node.js',
                    'Polymer',
                    'React',
                    'RxJS',
                    'Vue.js'
                ],
                name: '',
                selected: null
            }
        }
    },
    computed: {
        filteredDataArray() {
            return this.arrayExample.data.filter((option) => {
                return option
                    .toString()
                    .toLowerCase()
                    .indexOf(this.arrayExample.name.toLowerCase()) >= 0
            })
        }
    }
}
</script>

<style lang="sass">


</style>
