<template lang="html">
<div class="envolved">
  <div class="container">
    <div class="columns contacted">
      <div class="column">
        <img src="static/img/pag.svg" alt="">
      </div>
      <div class="column">
        <form action="" class="former" @submit.prevent="postNow">
          <section class="">
            <h3 class="title is-3 color-black">
              ESTÁ COM ALGUMA DÚVIDA ?
            </h3>
            <p>
              Caso esteja com alguma dúvida ou problema
na plataforma, por favor entre em contato com
a nossa equipe através do formulário abaixo.
            </p>
            <b-field>
              <b-input
              type="text"
              v-model="name"
              placeholder="Nome Completo"
              required
              class="modifier">
            </b-input>
          </b-field>
            <b-field>
              <b-input
              type="email"
              v-model="email"
              placeholder="Email"
              required
              class="modifier">
            </b-input>
          </b-field>
            <b-field>
              <b-input
              type="text"
              v-model="assunt"
              placeholder="Assunto"
              required
              class="modifier">
            </b-input>
          </b-field>
            <b-field>
              <b-input
              type="text"
              v-model="message"
              placeholder="Mensagem"
              class="mensage">
              </b-input>
          </b-field>
          <div class="">
            <button type="submit" class="button is-info is-outlined btSubmit">
              Enviar mensagem
            </button>
          </div>
          <br>
        </section>
        <br>
      </form>
      <br>
      </div>
    </div>
  </div>
  <my-footer></my-footer>
</div>
</template>

<script>
import Footer from '../shared/Footer.vue';
export default {
  components:{
    'my-footer': Footer
  }
}
</script>

<style lang="css">
</style>
