@import "mixing"
@import "animate.scss"
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700')
html, body
  font-family: 'Muli', sans-serif !important
  overflow-x: hidden
.nav
  transition: all 0.8s ease
  height: 92px !important
#navBar
  background: rgba(195, 195, 195, 0.1)
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0)
.pagina-enter, .pagina-leave-active
  opacity: 0
  transition: all 0.4s
.pagina-enter-active, .pagina-leave-active
  transition: opacity .3s
#app
  overflow: hidden
  margin-bottom: 0px !important
  background-image: linear-gradient(135deg, #00EFF5 0%, #00A1F6 100%)
h1
  color: #000
.fully
  min-height: 100vh
  width: 100vw
  overflow: hidden
  background-image: linear-gradient(135deg, #00EFF5 0%, #00A1F6 100%)
.insider
  .leftContent
    padding-left: 8%
    margin: auto 0
    h1
      font-size: 34px
      letter-spacing: -0.8px
    h2
      font-size: 20px
      letter-spacing: -0.2px
    .heroInput
      width: 65%
      .control
        .input
          font-size: 16px
          padding-right: 2.25em !important
          padding-left: 5px !important
          border-radius: 0px
        span.icon
          right: 0 !important
          left: auto
          top: -3px
.build
  left: 35%
  z-index: 1
.gnuvem
  left: 31%
  top: 20px
  height: 100%
.fnuvem
  animation: slider 12s infinite
  right: 60%
  top: 100px
  height: 100%
.midnuvem
  z-index: 0
  top: 175px
  height: 100%
  left: 10%
  animation: moving 12s infinite
.pulse
  position: absolute
  top: 90vh
  left: 49vw
  right: 0
  padding: 1px
  width: 40px
  height: 40px
  border-radius: 50%
  border: 2px white solid
  animation: pulse 4s infinite
  i
    font-size: 34px
    color: white
.howto
  background: white
  padding-bottom: 48px
  padding-top: 48px
  .title
    margin-top: 24px
    white-space: nowrap
    margin-bottom: 8px
    font-size: 20px
    font-weight: 600
  .circled
    margin: 0px auto
    width: 120px
    height: 120px
    padding: 45px
    background: #00ccf6
    border-radius: 60px
    &:after
      content: ""
    i
      color: #fff
      font-size: 30px
.justPad
  padding: 0px 35px
.how
  padding-bottom: 24px
  font-size: 24px !important
.mensage
  input
    height: 70px
    width: 100%
    white-space: pre-line
.find
  background-image: linear-gradient(135deg, #00EFF5 0%, #00A1F6 100%)
  padding: 48px 0px
  h4
    font-size: 25px
.better
  padding-bottom: 32px
  h4
    padding-top: 24px
    padding-bottom: 24px
    font-size: 24px
    color: #696868
    letter-spacing: -0.25px
  p
    font-size: 19px
    color: #696868
    text-align: justify
.fubaca
  img
    filter: grayscale(1)
    transition: all 0.4s ease-in
    &:hover
      filter: grayscale(0.1)
      transition: all 0.3s ease-out
.backgrounded
  background: #04334B
  color: white
  .midFooter
    .is-5
      p
        text-align: justify
    a
      p
        font-size: 18px
        margin-bottom: 16px
        &:hover

    p
      font-size: 16px
      color: white
.lest
  display: flex
  justify-content: space-around
  margin-top: 10px
.envolved
  margin: 15vh 0em 0em 0em
  width: 100vw
  background: white
.columns
  &.inside
    margin: 0px 5em
    display: flex
    padding-bottom: 15vh
    padding-top: 25vh
.bold5
  font-weight: 500
.bold6
  font-weight: 600
.boxinig
  h5
    font-size: 22px
  .texts
    font-size: 18px
    color: #696868
    letter-spacing: -0.3px
    text-align: justify
.inside:nth-child(even)
  flex-direction: row-reverse
  .imgs
    text-align: center
  img
    width: auto
    position: relative
    top: -15%
.inside:nth-child(odd)
  flex-direction: row
  .imgs
    text-align: center
  img
    width: auto
    position: relative
    top: -15%
.contacted
  padding: 10vh 0px 0px 0px
.field
  input
    border: none !important
    box-shadow: 1px 1px transparent !important
    border-bottom: 1px #d8d8d8 solid !important
    padding-left: 0px !important
.btSubmit
  transition: all 0.4s ease
  &:hover
    background: #00CDF6
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24)
    border-radius: 2px
    transition: all 0.5s ease
//
.navbar-menu
  transition: all 0.5s ease-in
  &.toggle
    transition: all 0.3s ease-out
    display: block !important
    .navbar-start
      width: calc(100vw - 20vw)
      position: fixed
      left: 0
      background: white
      height: calc(100vh - 92px)
      bottom: 0
      div
        &.navbar-item
          padding-left: 0px
      .is-boxed
        a
          text-align: left
.importeLink
  padding-left: 60px

@media screen and (max-width: 680px)
  .navbar-menu
    transition: all 0.5s ease-in
    &.toggle
      transition: all 0.3s ease-out
      display: block !important
      .navbar-start
        width: calc(100vw - 28vw)
        position: fixed
        left: 0
        background: white
        height: 100vh
        bottom: 0
        div
          &.navbar-item
            padding-left: 0px
            top: 8vh
        .is-boxed
          a
            text-align: left
            padding: 10px 10px
            &:active
              background: #3f9cff
  .justPad
    p
      text-align: justify !important
  .better
    padding-left: 8px
    padding-right: 8px
  .midFooter
    padding-left: 8px
    padding-right: 8px
  .router-link-active
    background-image: linear-gradient(135deg, #00EFF5 0%, #00A1F6 100%)
    border-bottom: 2px rgba(255, 255, 255, 0) solid !important
  .former
    padding: 0px 5px
    section
      h3
        font-size: 22px
        text-align: center
      p
        text-align: justify
  .image
    &.build
      top: 100px
    &.gnuvem
      left: 65%
      top: -50px
      height: 100%
    &.midnuvem
      z-index: 0
      top: -200px
      height: 100%
      left: 10%
      img
        width: 20%
    &.fnuvem
      right: 0
      top: -2vh
      left: 55vw
      height: 100%
      img
        width: 12%
    img
      width: 22%
  .insider
    .leftContent
      padding-left: 0px
      margin: auto 0
      h1
        font-size: 21px
        white-space: nowrap
      h2
        text-align: justify
        font-size: 16px
        padding: 0px 10px
      .heroInput
        width: 100%
  .pulse
    display: none
  .lest
    flex-direction: column
    align-items: center
    div
      p
        font-size: 12px
  .boxinig
    h5
      font-size: 20px
      text-align: center
    .texts
      font-size: 16px
      color: #696868
      letter-spacing: -0.3px
      text-align: justify
  .envolved
    margin: 15vh 0em 0em 0em
  .columns
    &.inside
      margin: 0px 0.5em
      display: flex
      padding-bottom: 15vh
      padding-top: 5vh
  .inside:nth-child(even)
    flex-direction: column-reverse
    .imgs
      text-align: center
    img
      width: 85%
  .inside:nth-child(odd)
    flex-direction: column-reverse
    .imgs
      text-align: center
    img
      width: 85%
