$ip-blue: #048CC8
$ip-b-blue: #0D647E
$ip-gray: #555555
$ip-light-gray: #9b9b9b
$ip-quase: #F8F8F8
$ip-white: #ffffff
$ip-black: black


@each $color, $value in (blue, $ip-blue), (b-blue, $ip-b-blue), (gray, $ip-gray), (white, $ip-white), (black, $ip-black), (light-gray, $ip-light-gray), (quase, $ip-quase)
  .background-#{$color}
    background-color: $value !important

  .color-#{$color}
    color: $value !important
    &.medium
      font-weight: 600

  hr.color-#{$color}
    border-color: $value !important
.btns
  background: #FFFFFF
  box-shadow: 0 2px 2px 0 #9B9B9B
  border-radius: 2px
  font-weight: 600
