<template>
  <div id="app" class="columns is-gapless">
    <meu-menu :rotas="routes" />
    <transition name="pagina">
      <router-view> </router-view>
    </transition>
  </div>
</template>

<script>
import { routes } from './routes';
import Menu from './components/menu/Menu.vue';

export default {
  name: 'app',
  components: {
    'meu-menu' : Menu
  },
  data() {

    return {
      routes
    }
  }
}
</script>

<style lang="sass" src="./assets/app.sass">


</style>
