<template lang="html">
  <div class="envolved">
  <div class="container">
    <div class="columns inside">
      <div class="column">
          <div class="boxinig">
            <h5 class="subtitle is-5 bold6">COMO SE CADASTRAR NA PLATAFORMA ?</h5>
            <p class="texts">
              Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko PBR.
            </p>
          </div>
        </div>
        <div class="column imgs">
          <img src="static/img/cadast.svg" alt="">
        </div>
    </div>
    <div class="columns inside">
      <div class="column">
          <div class="boxinig">
            <h5 class="subtitle is-5 bold6">COMO SE CADASTRAR NA PLATAFORMA ?</h5>
            <p class="texts">
              Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko PBR.
            </p>
          </div>
        </div>
        <div class="column imgs">
          <img src="static/img/cadast.svg" alt="">
        </div>
    </div>
    <div class="columns inside">
      <div class="column">
          <div class="boxinig">
            <h5 class="subtitle is-5 bold6">COMO SE CADASTRAR NA PLATAFORMA ?</h5>
            <p class="texts">
              Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko PBR.
            </p>
          </div>
        </div>
        <div class="column imgs">
          <img src="static/img/cadast.svg" alt="">
        </div>
    </div>
    <div class="columns inside">
      <div class="column">
          <div class="boxinig">
            <h5 class="subtitle is-5 bold6">COMO SE CADASTRAR NA PLATAFORMA ?</h5>
            <p class="texts">
              Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko PBR.
            </p>
          </div>
        </div>
        <div class="column imgs">
          <img src="static/img/cadast.svg" alt="">
        </div>
    </div>
    <div class="columns inside">
      <div class="column">
          <div class="boxinig">
            <h5 class="subtitle is-5 bold6">COMO SE CADASTRAR NA PLATAFORMA ?</h5>
            <p class="texts">
              Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko PBR.
            </p>
          </div>
        </div>
        <div class="column imgs">
          <img src="static/img/cadast.svg" alt="">
        </div>
    </div>
  </div>
  <my-footer></my-footer>
  </div>
</template>

<script>
import Footer from '../shared/Footer.vue';
export default {
  components:{
    'my-footer': Footer
  }
}
</script>

<style lang="css">
</style>
